@media only screen and (max-width: 800px) {
    footer {
        margin-top: 30px;
        width: 100%;
        height: 70px;
        display: var(--responceDisplay);
        justify-content: var(--responceContent);
        align-items: var(--responceAlign);
        background-color: var(--cor);
    }
    footer .footer-img {
        width: 70%;
        height: 100%;
        display: var(--responceDisplay);
        justify-content: space-between;
        align-items: var(--responceAlign);
    }
    #logoIF {
        width: 10%;
    }
    #logoADV {
        margin-left: 66px;
        width: 30%;
    }
    #logoCRT {
        margin-left: 34px;
        width: 30%;
    }
}