@media only screen and (max-width: 800px) {
    .buttons {
        margin-top: 20px;
        width: 100%;
        height: 300px;
        display: var(--responceDisplay);
        justify-content: var(--responceContent);
        align-items: var(--responceAlign);
        flex-wrap: wrap;
        background-image: url("../../IMG/05-BUTTONS/Logo_dnd.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position-x: 0%;
        background-position-y: center;
    }
    .buttons .btn {
        width: 60%;
        height: 65px;
        background-color: var(--cor);
        display: var(--responceDisplay);
        justify-content: var(--responceContent);
        align-items: var(--responceAlign);
    }
    .buttons .btn a {
        width: 100%;
        height: 100%;
        display: var(--responceDisplay);
        justify-content: var(--responceContent);
        align-items: var(--responceAlign);
    }
    .buttons .btn a IMG {
        width: 60%;
    }
    #btn2 {
        margin-top: -80px;
    }
}