body {
    background-color: rgb(250, 250, 250);
}

:root {
    --cor: #3f3f3f;
    --verde: #6CDA98;
    --flex: flex;
    --justify: center;
    --align: center;
    --fonte1: 'Open Sans', sans-serif;
    --fonte2: 'Lalezar', cursive;
    --titulos: 'Rubik', sans-serif;
}