@media only screen and (max-width: 800px) {
    header {
        width: 100%;
        height: 350px;
        background-image: url("../../IMG/02-HEADER/Foto_Home.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.15);
    }
    header .headerContent {
        width: 100%;
        height: 78%;
        display: var(--responceDisplay);
        justify-content: var(--responceContent);
        align-items: var(--responceAlign);
    }
    header .imgHeader {
        width: 100%;
        height: 20%;
    }
    header .imgHeader IMG {
        width: 95%;
    }
}