@media only screen and (max-width: 800px) {
    .livros {
        margin-top: -280px;
        margin-bottom: 400px;
        width: 100%;
        /* background-color: var(--verde); */
        display: var(--flex);
        justify-content: var(--justify);
        align-items: var(--align);
        flex-wrap: wrap;
    }
}